<p id="notice"><%= notice %></p>

<h1>Prof2s</h1>

<p> this will be a pets profile. it can show only profiles of who os loggedin <p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Atype</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prof2s.each do |prof2| %>
      <tr>

      <%    if (user_signed_in? && (current_user.id == prof2.user_id))   %>
        <td><%= prof2.name %></td>
        <td><%= prof2.atype %></td>
        <td><%= prof2.user.email %></td>


       

        <td><%= link_to 'Show', prof2 %></td>

     

         
        <td><%= link_to 'Edit', edit_prof2_path(prof2) %></td>
        <td><%= link_to 'Destroy', prof2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>

    
  </tbody>
</table>

<br>

<%= link_to 'New Prof2', new_prof2_path %>
