<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prof2.name %>
</p>

<p>
  <strong>Atype:</strong>
  <%= @prof2.atype %>
</p>

<p>
  <strong>User:</strong>
  <%= @prof2.user.name %>
</p>

<p>
  <strong>prof id:</strong>
  <%= @prof2.id %>
</p>

<%= link_to p_text,  profile_update_path(prof2: @prof2), id:'p_link', remote: true   %>
</br>


<%= link_to n_text,  nolog_update_path(prof2: @prof2), id:'n_link', remote: true   %>





<%= link_to 'Edit', edit_prof2_path(@prof2) %> |
<%= link_to 'Back', prof2s_path %>
