

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong> pet id:</strong>
  <%= @pet.id %>
  
</p>

<p>
  <strong>User:</strong>
  <%= @pet.User_id %>
 

</br>
<% if @pet.image.attached? %>
<div style="width:300px; height:auto">
<%= link_to image_tag(@pet.image, style:"width:100%"), pets_path %>
<% else %>
<div style="width:300px; height:auto">
<%= image_tag("/defimage.jpg", style:"width:100%") %>
<% end %>
</div>

</br>
<td><%= link_to favo_text, favo_update_path(pet: @pet), id:'favo_link', remote: true %> </td>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
