<%= form_with(model: prof, local: true) do |form| %>
  <% if prof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prof.errors.count, "error") %> prohibited this prof from being saved:</h2>

      <ul>
        <% prof.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
