<!DOCTYPE html>
<html>
  <head>
    <title>Tinderapp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'layouts/navbar' %>

  <header class="headSec">

  
  <ul>
  <li><%= link_to "Home",  '/'  %></li>
  <li><%= link_to "Profs",  prof2s_path  %></li>
 

  <% if user_signed_in? %>

  <li><%= link_to "Profiles", home_path %></li>

    <li><%= link_to "Favourites", about_path %></li>
 
    <li> <%= link_to 'New Pet', new_pet_path %>  </li>
     <li><a href="/help">Hi <%= current_user.name %></a></li>

    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
<% else %>
    <li><%= link_to 'Register', new_user_registration_path %></li> 
    <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>



  </ul>
  
  
</header>

<div class="container">
<%= yield %>
</div>

<footer class="foot">

</footer>


    
  </body>
</html>
